{% include 'module/mobile-nav.twig' %}

<header class="l-masthead">
	{% block header %}
		<div class="container h-100">
			<div class="row h-100">
				{% set template = post._wp_page_template %}
				<a class="l-masthead__logo" href="{{site.link}}" title="{{site.name}}" rel="home"></a>

				<div class="l-masthead__nav dont-show-me-on-tabs">
					<ul>
						{% for item in primaryNav.get_items %}
							<li class="l-masthead__nav--item {{item.classes | join(' ')}}">
								<a href="{{item.get_link}}">{{item.title}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>

				<span class="burger-icon show-on-all-tabs"></span>
			</div>
		</div>
	{% endblock %}
</header>
