
{% if media_item.smaller_title %}
	{% set smaller = true %}
{% endif %}

{% if media_item.apply_overlay %}
	{% set overlay = true %}
{% endif %}

{% set hasSlides = true %}

{% if postType == 'events' %}
	{% set slider = options.events_slider %}
{% elseif postType == 'careers' %}
    {% set slider = options.careers_slider %}
{% elseif postType == 'single' %}
    {% set hasSlides = false %}
{% else %}
    {% set slider = media_item.slider %}
{% endif %}

{% if hasSlides == true %}
	<div class="l-page-section l-page-section--flush">
		<div class="l-hero {{ overlay ? 'l-hero--has-overlay' : '' }}">
			<div class="flexslider h-100">
				<ul class="slides h-100">
					{% for slide in slider %}
						<li class="l-hero__slide" style="background-image:url('{{slide.image}}')">
							{% if slide.is_home %}
								<div class="col-sm-5 l-hero__left-text" style="background-image:url('{{site.theme.link}}/app/img/tmp/hi@2x.png')"></div>

								<div class="col-sm-7 l-hero__right-text">
									<h2>{{slide.title}}</h2>
								</div>

								{% else %}

								<div class="l-hero__generic-text">
									<div class="col-lg-8 col-lg-offset-2 text-center">
										<h2 {% if smaller %}class="smaller"{% endif %}>{{slide.title}}</h2>
										{% if slide.sub_title %}
											<h3>{{slide.sub_title}}</h3>
										{% endif %}

										{% if slide.has_solution_selector %}
											<div class="row solution-toggle show-on-all-phones">
												<a href="#" class="b-button b-button--tertiary js-solution-toggle">Tell us about your role</a>
											</div>

											<div class="row dont-show-me-on-phones js-solution-container">
												{% include 'module/solution-selector.twig' %}
											</div>
										{% endif %}
									</div>
								</div>

							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

{% else %}
	{% if post.get_field('event_banner_image') %}
		{% set bg = post.get_field('event_banner_image') %}
	{% else %}
		{% set bg = site.theme.link~'/app/img/tmp/home-hero@2x.jpg' %}
	{% endif %}
    <div class="l-page-section l-page-section--flush">
    	<div class="l-hero">
    		<div class="flexslider h-100">
    			<ul class="slides h-100">
					<li class="l-hero__slide" style="background-image:url('{{bg}}')">
						<div class="l-hero__generic-text">
							<div class="col-lg-8 col-lg-offset-2 text-center">
								<h2 class="smaller">{{post.title}}</h2>
							</div>
						</div>
					</li>
    			</ul>
    		</div>
    	</div>
    </div>
{% endif %}
